@font-face {
  font-family: "Nnormal";
  src: url(font/MWFFluentIcons.woff2);
}

@font-face {
  font-family: "BBold";
  src: url(font/mwfmdl2-v3.54.woff);
}

@font-face {
  font-family: "letest";
  src: url(font/latest.woff2);
}

* {
  margin: 0;
  padding: 0;
  font-family: letest;
}

/* header */

.header-desktop-view {
  display: none;
}

.header-mobile-view {
  border-bottom: 1px solid #e6e6e6;
  height: 53px;
  background: #fff;
  color: #000;
  margin-bottom: 34px;
  font-size: 15px;
  font-family: Nnormal;
}

.search-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  margin: 2px 2px 1px 1px;
  padding: 9px;
  transition: color 0.1s, background-color 0.1s;
  border: 0;
}

.search-icon::after {
  font-family: "BBold";
  content: "";
  border: none;
  display: inline-block;
  font-size: 16px;
  margin-left: -1px;
  position: relative;
  text-indent: 0;
  vertical-align: sub;
  margin-top: 8px;
}

.header-logo {
  display: block;
  position: absolute;
  left: calc(50% - 60px);
  height: auto;
  margin: 3px 1px 1px 1px;
  padding: 12px 4px;
}

.header-logo img {
  margin-top: -3px;
  max-width: none;
  width: 108px;
  height: auto;
}

.azure-button {
  left: 0;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  display: block;
  height: 33px;
  position: absolute;
  width: 100%;
  top: 54px;
}

.azure-button button {
  background-color: transparent;
  border: 0;
  border-color: #000;
  display: block;
  font-family: letest;
  font-size: 15px;
  font-weight: 600;
  margin: 0 1px;
  padding: 0 15px;
  text-align: left;
  margin-top: 7px;
}

.azure-button button::after {
  font-family: "BBold";
  content: "";
  font-size: 12px;
  font-weight: 700;
  padding-left: 7px;
  position: relative;
  top: 2px;
  margin-left: 4px;
}

/* first container */

.first-banner {
  padding-bottom: 56px;
  max-height: 100%;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-container-image {
  height: fit-content;
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 56px;
  aspect-ratio: 1.77778;
}

.banner-container-image img {
  width: 100%;
  object-fit: fill;
  border-radius: 8px;
  aspect-ratio: 1.77778;
}

.banner-first-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 48px;
  position: relative;
}

.banner-content {
  row-gap: 8px;
  display: flex;
  flex-direction: column;
}

.banner-first-text {
  margin-bottom: 11px;
  color: #17253d;
}

.banner-first-text span {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.96px;
}

.banner-heading {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -1px;
  margin-bottom: 0;
}

.banner-heading h1 {
  color: #17253d;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
}

.banner-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
  margin-bottom: 0;
  color: #17253d;
  margin-top: 16px;
  padding-right: 16px;
}

.banner-button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.banner-button-one {
  font-family: letest;
  border: 2px solid transparent;
  padding: 12px 12px 14px 12px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.3px;
  background-color: #0078d4;
  color: #fff;
  border-radius: 8px;
}

.banner-button-two {
  font-family: letest;
  border: 2px solid #17253d;
  padding: 12px 12px 14px 12px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.3px;
  background-color: transparent;
  color: #004275;
  border-color: #17253d;
  border-radius: 8px;
}

/* featured section */

.featured {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),
    0 0.063rem 0.125rem rgba(0, 0, 0, 0.14);
}

.featured-section {
  margin: 0.25px;
  position: static;
  flex-grow: 1;
  box-shadow: none;
  display: flex;
  border-radius: 0;
  background-color: #fefefe;
  padding: 18px 16px;
  column-gap: 8px;
  align-items: center;
}

.featured-section span {
  color: #004275;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: normal;
  white-space: nowrap;
}

.featured-down-arrow {
  display: flex;
  justify-content: flex-end;
  color: #0078d4;
  transform: rotate(0);
  font-size: 16px;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 2px;
  left: 1px;
}

.featured-down-arrow::after {
  font-family: "Nnormal";
  content: "";
  font-weight: 500;
}

.featured-down-line {
  background-color: #004275;
  height: 4px;
  width: 100%;
}

.featured-second {
  display: none;
}

/* scrollspy container */

.scrollspy-container {
  position: relative;
}

/* chat box */

.chat-box {
  display: none;
  background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/54300-AI-Powered-Assistant-Background-1600x320?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=320&qlt=100&fit=constrain);
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  padding-left: 4px;
}

.chat-box-container {
  display: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  padding: 24px 16px 24px 16px;
  background-image: linear-gradient(180deg, #002948 0%, #004275 98.96%);
}

.chat-container-contant {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.chat-container-first {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chat-container-row {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.chat-container-image {
  margin-top: 4px;
  height: 100%;
}

.chat-container-image img {
  height: 50px;
  width: 100%;
}

.chat-container-ai {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.chat-container-ai span {
  white-space: nowrap;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.24px;
  color: #fff;
}

.chat-container-solution {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.36px;
  color: #dceef8;
}

.chat-container-second {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.chat-container-search {
  position: relative;
  width: 100%;
  max-width: 656px;
  border: none;
  background-color: #fefefe;
  border-radius: 8px;
  align-items: flex-end;
  gap: 0.5rem;
}

.chat-container-div {
  display: flex;
}

.chat-container-search input {
  background-color: transparent;
  width: 100%;
  border: none;
  padding-block: 20px;
  padding-inline-end: 60px;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  padding-left: 12px;
}

.chat-container-search button {
  background: transparent;
  border: none;
  opacity: 0.2;
  padding: 14px;
}

.chat-container-search button svg {
  width: 23.98px;
  height: 23.98px;
  fill: #004275;
}

.chat-container-blue-line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(90deg, #0a86c4 0.3%, #71ede8 100%);
}

.chat-container-que {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  list-style-type: none;
}

.chat-container-que li button {
  border-width: 0.0625rem;
  border-color: #fff;
  padding: 8px 10px;
  background: transparent;
  color: #fff;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.28px;
  width: auto;
}

/* third container */

.discover-container {
  padding-top: 56px;
  width: 100%;
  height: 100%;
  padding-bottom: 56px;
}

.discover-container-content {
  padding-right: 16px;
  padding-left: 16px;
  max-width: 100%;
}

.container-heading-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: -4px;
  margin-left: -4px;
  padding-right: 4px;
  padding-left: 4px;
}

.heading-container-first-line {
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #17253d;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.96px;
}

.banner-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.36px;
  color: #0e1726;
}

.banner-heading h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.8px;
  color: #0e1726;
}

.discover-section {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-right: -4px;
  margin-left: -4px;
  padding-right: 8px;
  padding-left: 8px;
}

.discover-section-content-card {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px,
    rgba(0, 0, 0, 0.14) 0px 2px 4px 0px;
  background: #fefefe;
  border-radius: 16px;
}

.discover-content-image {
  padding: 8px 8px 0px;
  max-width: 100%;
  border-radius: 10px;
}

.discover-content-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.discover-content-section {
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.discover-content-section-first {
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.discover-content-section-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.36px;
}

.discover-content-section-heading h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
}

.discover-content-section-paragraph {
  width: 99%;
}

.discover-content-section-paragraph p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
  color: #17253d;
}

.discover-content-section-button {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.discover-content-button {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #004275;
}

.discover-content-button-span {
  padding: 8px;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  font-weight: 600;
  background-color: #0078d4;
  border-radius: 8px;
  color: #fff;
  height: 15px;
  width: 15px;
}

.discover-content-button-span span::before {
  font-family: BBold;
  content: "";
  font-weight: 400;
  font-size: 12px;
  line-height: 1px;
  color: #fff;
  position: relative;
  bottom: 1px;
}

.discover-content-button-register {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;
  color: #004275;
  padding-bottom: 2px;
}

/* fourth container */

.solutions-container {
  padding-top: 56px;
  padding-bottom: 56px;
  position: relative;
}

.solutions-container-contant {
  position: relative;
  padding-right: 16px;
  padding-left: 16px;
  max-width: 100%;
}

.container-content-section {
  position: relative;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-right: -4px;
  margin-left: -4px;
  padding-right: 4px;
  padding-left: 4px;
}

.container-scroll {
  position: relative;
}

.container-scroll-div {
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  margin-inline: 44px;
}

.container-scroll-content {
  display: flex;
  gap: 8px;
}

.scroll-button-first {
  background-color: #005597;
  color: #fff;
  padding: 9px 16px;
  border-radius: 200px;
  border: none;
  margin-left: 4px;
}

.scroll-button-first span {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.3px;
  white-space: nowrap;
}

.scroll-button-second {
  padding: 8px 16px;
  border-radius: 200px;
  background-color: rgba(0, 85, 151, 0.1);
  color: #004275;
  border: none;
}

.scroll-button-second span {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.3px;
  white-space: nowrap;
}

.scroll-next-arrow {
  border: 2px solid #004275;
  border-radius: 200px;
  padding: 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(270deg,
      #f4fafd 25%,
      #f2f2f2 50%,
      rgba(242, 242, 242, 0) 100%);
  position: absolute;
  top: 0;
  right: 0;
}

.scroll-next-arrow span::before {
  font-size: 14px;
  font-weight: 400;
  color: #004275;
  content: "";
  font-family: BBold;
  position: relative;
  bottom: 1px;
}

.solutions-container-content-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: -4px;
  margin-right: -4px;
  padding-right: 4px;
  padding-left: 4px;
  position: relative;
  width: 100%;
  margin-top: 32px;
}

.solutions-featured-content {
  position: relative;
  overflow-x: hidden;
}

.solutions-featured-ul {
  list-style-type: none;
  padding-inline: 4px;
}

.fourth-li-first {
  border-bottom: 1px solid #bdc5d2;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
  width: 100%;
}

.fourth-li-heading {
  width: 100%;
}

.solutions-li-heading-button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 24px 0;
  padding-top: 0;
  border: none;
  border-color: transparent;
  background: transparent;
  align-items: center;
  gap: 8px;
  outline: 0;
  width: 100%;
}

.solutions-li-heading-button::before {
  content: "";
  font-family: BBold;
  font-weight: 400;
  transform: rotate(-180deg);
  font-size: 12px;
  line-height: 25px;
  align-items: flex-end;
  position: relative;
  right: 2px;
}

.solutions-li-heading-button h3 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 24px;
  letter-spacing: normal;
  margin-bottom: 1px;
}

.solutions-li-content-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  gap: 25px;
}

.solutions-li-first-link {
  color: #004275;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.02px;
  text-decoration-line: underline;
  text-underline-offset: 0.125rem;
}

.solutions-li-first-link span {
  padding-bottom: 0.125rem;
}

.solutions-li-first-image-section {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.solutions-li-first-image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.solutions-li-second {
  display: flex;
  border-bottom: 1px solid #bdc5d2;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
  width: 100%;
}

.solutions-li-heading-button-second {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 24px 0;
  border: none;
  border-color: transparent;
  background: transparent;
  align-items: center;
  gap: 8px;
  outline: 0;
  width: 100%;
}

.solutions-li-heading-button-second::before {
  content: "";
  font-family: BBold;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  align-items: flex-end;
  position: relative;
  right: 2px;
}

.solutions-li-heading-button-second h3 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 24px;
  letter-spacing: -0.08px;
  margin-bottom: 1px;
}

.fourth-last-button {
  padding-left: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.last-button {
  display: inline-flex;
  background-color: #0078d4;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  gap: 8px;
}

.last-button-span {
  padding: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.3px;
  background-color: #0078d4;
  color: #fff;
  border-radius: 8px;
  height: 19px;
  width: 19px;
}

.last-button-span::before {
  content: "";
  font-family: BBold;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
}

.last-button-text {
  padding-bottom: 0.225rem;
  color: #004275;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.fourth-container-ul-section-image {
  display: none;
}

/* products container */

.products-container {
  padding-block: 56px;
  padding-inline: 16px;
  max-width: 100%;
  background-color: #f4fafd;
  position: relative;
}

.products-container-contant {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: -4px;
  margin-right: -4px;
  padding-right: 4px;
  padding-left: 4px;
  position: relative;
  width: 100%;
}

.products-featured-contant {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: -4px;
  margin-left: -4px;
  padding-inline: 8px;
  row-gap: 12px;
}

.products-contant-image {
  padding-right: 4px;
  padding-left: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  border-radius: 16px;
}

.products-contant-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  object-position: center -146px;
}

.products-empty-div {
  height: 224px;
  width: 100%;
}

.products-image-content {
  position: relative;
  padding: 16px;
}

.products-image-content-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  text-align: left;
  color: #dceef8;
}

.products-image-heading {
  display: flex;
}

.products-image-heading h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.46px;
  color: #fff;
}

.products-content-image {
  width: 100%;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.products-contant-image-para span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
}

.products-content-image-button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  border-radius: 8px;
  border: none;
}

.products-content-image-button span {
  padding: 10px 12px 12px 12px;
  border-radius: 8px;
  color: #0e1726;
  background-color: #b3daf0;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.3px;
}

.products-card-content {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  height: 100%;
  padding-inline: 4px;
}

.products-card {
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),
    0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
  background: #fefefe;
  border-radius: 16px;
  height: 100%;
  padding: 16px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.products-content-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 12px;
}

.products-content-card-image {
  background-color: #fefefe;
  border-width: 0.0625rem;
  border-radius: 8px;
  border: 1px solid #ebf2fb;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
}

.products-content-card-image img {
  width: 100%;
  height: 100%;
  max-width: 24px;
  max-height: 24px;
  font-size: 24px;
}

.products-content-card-section {
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.products-content-card-first h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.products-content-card-second {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
  color: #17253d;
}

.products-explore-product {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.products-explore-product span {
  color: #004275;
  text-decoration: underline;
  text-underline-offset: 0.125rem;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.container-last-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 4px;
}

/* gartner container */

.gartner-container {
  padding-block: 56px;
  padding-inline: 24px;
  position: relative;
}

.gartner-container-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: -4px;
  margin-left: -4px;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),
    0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
  background: #fefefe;
  border-radius: 16px;
  border: 0.0625rem solid #e6f2fb;
}

.gartner-container-content-div {
  display: flex;
  flex-direction: column-reverse;
}

.gartner-container-image {
  padding-inline: 8px;
  padding-top: 8px;
  border-radius: 8px;
}

.gartner-container-image img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 1.33333;
}

.gartner-contant-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  padding: 7px 12px 16px;
  max-width: 100%;
}

.gartner-contant-section-first {
  display: flex;
  align-items: flex-start;
  text-align: left;
  gap: 12px;
  flex-direction: column;
}

.gartner-content-empty {
  width: 100%;
  display: flex;
}

.gartner-content-section-heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.8px;
}

.gartner-content-section-heading h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.46px;
}

.gartner-content-section-para {
  display: flex;
  align-items: flex-start;
  text-align: left;
  color: #17253d;
}

.gartner-content-section-para span {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.54px;
}

.gartner-content-button button {
  border: 2px solid transparent;
  padding: 12px 14px 14px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.3px;
  background-color: #0078d4;
  color: #fff;
  border-radius: 8px;
  width: 100%;
}

/* resources container */

.resources-container {
  position: relative;
  padding-inline: 16px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resources-container-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-inline: 4px;
  max-width: 100%;
}

.resources-content-first {
  padding-inline: 16px;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 44px;
}

.resources-content-first-content {
  padding-inline: 4px;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.resources-content-first-line {
  text-transform: uppercase;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.96px;
}

.resources-content-heading {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources-content-heading h2 {
  font-family: letest;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.8px;
  max-width: 90%;
}

.resources-content-second {
  margin-top: -35px;
}

.resources-container-scroll {
  position: relative;
  padding-inline: 34px;
  padding-left: 20px;
}

.resources-container-scroll-div {
  overflow-x: scroll !important;
  overflow-y: hidden;
  scrollbar-width: none;
}

.resources-scroll-centent {
  width: 1332px;
  padding-left: 6px;
  padding-bottom: 9px;
  padding-top: 7px;
  align-items: center;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: nowrap;
  position: relative;
  z-index: 0;
  /* justify-content: center; */
}

.resources-scroll-button {
  color: #000;
  z-index: 1;
  max-width: calc(1328px / 6);
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),
    0 0.063rem 0.125rem rgba(0, 0, 0, 0.14);
}

.resources-scroll-button:first-child {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.resources-scroll-button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.resources-scroll-button button {
  color: #000;
  z-index: 1;
  border: none;
  max-width: calc(1328px / 6);
  padding: 12px 16px 12px 16px;
  background: #fefefe;
  width: 222px;
  text-align: left;
}

.resources-scroll-button button span {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: normal;
}

.resources-scroll-button-line {
  border-bottom-left-radius: 8px;
  width: 100%;
  height: 4px;
  background-color: #004275;
}

.resources-left-right-arrow {
  color: #004275;
  padding-bottom: 40px;
  margin-top: 24px;
  position: relative;
}

.resources-left-arrow {
  position: absolute;
  top: 1px;
  left: -4px;
  width: 40px;
  height: 40px;
  border: 2px solid #004275;
  border-radius: 200px;
  background-color: transparent;
  opacity: 0.2;
}

.resources-left-arrow span::after {
  font-size: 1.125rem;
  color: #004275;
  font-weight: 600;
  content: "";
  font-family: BBold;
}

.resources-right-arrow {
  position: absolute;
  top: 1px;
  left: 48px;
  width: 40px;
  height: 40px;
  border: 2px solid #004275;
  border-radius: 200px;
  background-color: transparent;
}

.resources-right-arrow span::after {
  font-size: 1.125rem;
  color: #004275;
  font-weight: 600;
  content: "";
  font-family: BBold;
}

.resources-second-content {
  position: relative;
  padding-top: 24px;
  padding-bottom: 47px;
  max-width: 100%;
  bottom: 1px;
}

.resources-it-content {
  display: block;
  text-align: center;
}

.resources-ith-content-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-inline: 20px;
}

.resources-it-content-para {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
}

.resources-it-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.last-button-text-third {
  color: #004275;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.resources-it-image {
  display: flex;
  margin-top: 12px;
  max-width: 100%;
  position: relative;
  max-width: 100%;
  border-radius: 16px;
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.12), 0 2rem 4rem rgba(0, 0, 0, 0.14);
}

.resources-it-image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1.77778;
  border-radius: 8px;
}

/* global container */

.global-container {
  position: relative;
  padding-block: 56px;
  background-position: center;
}

.global-container-content {
  position: relative;
  color: #dceef8;
  padding-right: 16px;
  padding-left: 16px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.global-container-heading h2 {
  font-family: "Segoe UI Variable Display", "Segoe UI", segoeui,
    "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.8px;
}

.global-container-para {
  padding-inline: 16px;
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
}

.global-container-button {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid transparent;
  padding: 12px;
  padding-bottom: 14px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.3px;
  background-color: #b3daf0;
  color: #0e1726;
  border-radius: 8px;
  width: 100%;
}

/* customer container */

.customer-container {
  position: relative;
  padding-block-start: 56px;
  padding-block-end: 56px;
  background: #f4fafd;
  padding-inline: 16px;
  max-width: 100%;
}

.customer-container-content-top {
  margin-top: 32px;
}

.customer-container-heading-section {
  display: flex;
  flex-wrap: wrap;
  margin-right: -4px;
  margin-left: -4px;
  padding-right: 4px;
  padding-left: 4px;
  flex-direction: column;
  align-items: center;
}

.customer-heading-container-first-line {
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #17253d;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.96px;
}

.customer-container-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.36px;
  color: #0e1726;
}

.customer-container-heading h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.8px;
  color: #0e1726;
  text-align: center;
}

.customer-container-content-main {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.customer-container-content {
  position: relative;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 12px;
  padding-inline: 4px;
}

.customer-container-ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;
  row-gap: 8px;
  list-style: none;
}

.customer-container-li {
  display: flex;
  justify-content: center;
}

.customer-container-brand {
  padding: 12px;
  background: #fefefe;
  border-width: 0.0625rem;
  border-radius: 16px;
  border-style: solid;
  border-color: #e6f2fb;
}

.ninth-container-brand img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1.387;
}

.ninth-container-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ninth-container-button button {
  border: 2px solid transparent;
  padding: 12px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.3px;
  background-color: #0078d4;
  color: #fff;
  border-radius: 8px;
  padding-block: 13px;
}

/* next step section */

.next-step-section {
  padding-block: 56px;
  padding-inline: 16px;
  position: relative;
}

.next-step-heading {
  position: relative;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.8px;
  text-align: center;
}

.next-step-content {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  padding-inline: 8px;
  column-gap: 12px;
  row-gap: 8px;
}

.next-step-card {
  display: flex;
  flex-direction: column;
  background: #fefefe;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),
    0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
  border-radius: 16px;
  padding: 16px;
  position: relative;
}

.next-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 12px;
}

.next-card-heading h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.next-card-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
  color: #17253d;
}

.next-card-button {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

/* social media container */

.social-media-container {
  background-color: #f7f7f7;
  padding-inline: 20px;
  margin-bottom: -48px;
  padding-bottom: 24px;
  padding-top: 24px;
  position: relative;
  z-index: 1;
}

.social-media-content {
  display: flex;
  flex-direction: column;
  padding-block: 8px;
  padding-block-end: 12px;
  padding-inline: 12px;
  padding-inline-start: 0px;
}

.social-section-button {
  background-color: #e6e6e6;
  margin-bottom: 10px;
  border: 2px solid transparent;
  padding-top: 15px;
  padding-right: 13px;
  padding-left: 12px;
  padding-bottom: 7px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 22px;
  letter-spacing: -0.3px;
  display: flex;
  flex-direction: row;
}

.social-section-button span img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  position: relative;
  bottom: 1px;
}

.social-section-two {
  margin-left: 20px;
}

.social-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.social-ul li {
  margin-right: 15px;
}

.social-ul li img {
  width: 24px;
  height: 24px;
}

/* footer */

footer {
  margin-top: 48px;
  background: #f2f2f2;
  padding: 0 12px;
  max-width: calc(1600px + 10%);
  position: relative;
  z-index: 1;
}

.footer-section-one {
  padding-inline: 12px;
  list-style: none;
}

.footer-section-one h2 {
  color: #616161;
  font-size: 15px;
  line-height: 20px;
  padding: 36px 0 4px;
  font-weight: 600;
}

.footer-section-one li {
  font-size: 11px;
  line-height: 16px;
  padding: 8px 0;
  color: #616161;
}

.footer-section-second {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 28px 24px 46px;
  background-color: #f2f2f2;
}

.footer-section-line {
  font-size: 11px;
  line-height: 16px;
  padding-right: 24px;
  color: #616161;
  display: flex;
  align-items: center;
}

.global {
  position: relative;
  top: 2px;
}

.global::before {
  content: "";
  font-family: BBold;
  font-size: 20px;
  line-height: 24px;
  margin-right: 10px;
}

.footer-section-line-two {
  display: flex;
  font-size: 11px;
  line-height: 16px;
  padding-right: 24px;
  padding-top: 4px;
  color: #616161;
  margin: 6px 0 14px 0;
  position: relative;
  left: -5px;
}

.footer-section-line-two span svg {
  padding-right: 5px;
}

.footer-section-svg {
  position: relative;
  top: 2px;
  left: 1px;
}

.footer-section-three {
  padding-top: 4px;
}

.footer-section-ul {
  float: left;
  margin-top: 12px;
  margin-bottom: 6px;
  color: #616161;
  font-size: 11px;
  line-height: 25px;
  list-style: none;
}

.footer-section-ul li {
  padding: 6px 13px 0 0;
  float: left;
}

@media screen and (min-width: 540px) {
  .banner-first-container {
    padding-inline: 64px;
  }

  .banner-paragraph {
    padding-right: 17px;
  }

  .banner-button {
    flex-direction: row;
  }

  .discover-container-content {
    padding-inline: 64px;
  }

  .discover-section {
    padding-left: 4px;
  }

  .discover-content-section-paragraph {
    width: 93%;
  }

  .solutions-container-contant {
    padding-inline: 64px;
  }

  .solutions-container {
    padding-top: 30px;
  }

  .container-content-section {
    padding-left: 0;
  }

  .products-container {
    padding-inline: 64px;
  }

  .scroll-next-arrow span::before {
    bottom: -1px;
  }

  .products-content-image-button {
    flex-direction: row;
    width: auto;
  }

  .gartner-container {
    padding-inline: 64px;
  }

  .resources-container {
    padding-inline: 64px;
  }

  .resources-content-first {
    padding-inline: 64px;
    padding-inline-start: 60px;
  }

  .resources-container-scroll {
    padding-inline: 64px;
  }

  .resources-ith-content-first {
    padding-inline: 64px;
  }

  .global-container-content {
    padding-inline: 64px;
  }

  .global-container-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .global-container-button {
    display: flex;
    flex-direction: row;
    width: 142.91px;
  }

  .customer-container {
    padding-inline-start: 60px;
    padding-inline-end: 64px;
  }

  .customer-container-content-top {
    padding-inline-start: 4px;
  }

  .next-step-section {
    padding-inline: 64px;
  }

  .social-media-content {
    padding-inline: 64px;
    padding-inline-start: 48px;
  }

  .social-section-button {
    padding-top: 14px;
  }

  .social-section-button-text {
    position: relative;
    top: 1px;
  }

  .footer-section-first {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-section-second {
    padding-bottom: 16px;
  }

  .footer-section-ul {
    display: flex;
    gap: 3px;
  }

  .footer-section-ul li {
    padding: 6px 4px 0 6px;
  }
}

@media screen and (min-width: 860px) {
  .header-mobile-view {
    display: none;
  }

  .header-second {
    display: block;
  }

  .header-desktop-view {
    padding-inline: 24px;
    background: #fff;
    color: #000;
    height: 54px;
    font-size: 13px !important;
    margin-bottom: 2px !important;
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
  }

  .header-desktop-image {
    padding: 16px 6px 16px 10px;
    margin-top: 1px;
    float: left;
    width: 121px;
  }

  .header-desktop-image img {
    width: 108px;
    height: auto;
    margin-top: -3px;
  }

  .header-desktop-azure {
    float: left;
    position: relative;
  }

  .header-desktop-azure::before {
    border-left: 2px solid #000;
    height: 24px;
    content: " ";
    margin-left: 7px;
    position: absolute;
    top: 15px;
    left: 0;
  }

  .header-desktop-azure span {
    padding: 16px 6px 16px 10px;
    float: left;
    margin-top: -2px;
    width: auto !important;
    position: relative;
    margin-left: 18px;
    font-size: 18px;
    font-weight: 600;
  }

  .header-nav {
    padding-left: 2px;
    padding-right: 1px;
    float: left;
  }

  .header-nav-ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 48px;
    position: relative;
    top: 2px;
  }

  .nav-li-first {
    border: 1px solid transparent;
    color: #262626;
    margin-top: 1px;
    padding: 16px 10px 10px 8px;
    height: 48px;
    position: relative;
  }

  .nav-li {
    border: 1px solid transparent;
    color: #262626;
    margin-top: 1px;
    padding: 16px 30px 16px 14px;
    padding-right: 13px;
    height: 48px;
    position: relative;
  }

  .nav-li::after {
    content: "";
    font-family: BBold;
    position: relative;
    font-size: 8px;
    color: currentColor;
    font-weight: 700;
    padding-top: 7px;
    left: 7px;
    top: 1px;
  }

  .header-search-icon {
    position: absolute;
    top: 1px;
    right: 12px;
    width: 34px;
    height: 34px;
    margin: 2px 2px 1px 1px;
    padding: 9px;
    transition: color 0.1s, background-color 0.1s;
    border: 0;
  }

  .header-search-icon::after {
    font-family: "BBold";
    content: "";
    border: none;
    display: inline-block;
    font-size: 16px;
    margin-left: -1px;
    position: relative;
    text-indent: 0;
    margin-top: 8px;
  }

  .first-banner {
    padding-block: 81px;
  }

  .banner-first-container {
    align-items: center;
    flex-direction: row-reverse;
    padding-inline: 56px;
    gap: 16px;
    padding-bottom: 0;
  }

  .banner-container-image-main {
    flex: 1;
  }

  .banner-container-image {
    padding: 24px;
    backdrop-filter: blur(1.25rem);
    border-radius: 24px;
    display: flex;
  }

  .banner-container-image img {
    border-radius: 16px;
  }

  .banner-content {
    flex: 1;
  }

  .banner-first-text {
    position: relative;
    bottom: 4px;
  }

  .banner-heading h1 {
    font-size: 44px;
    line-height: 56px;
    position: relative;
    bottom: 8px;
  }

  .banner-paragraph {
    margin-top: 16px;
    padding-right: 48px;
  }

  .banner-button {
    margin-top: 32px;
  }

  .banner-button-one {
    padding-inline: 27px;
    padding-inline-start: 27px;
  }

  .banner-button-two {
    padding-inline: 28px;
    padding-inline-start: 28px;
  }

  .featured {
    display: none;
  }

  .featured-second {
    display: flex;
    padding-inline: 56px;
    flex-direction: row;
    align-items: center;
    background-color: #fefefe;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),
      0 0.063rem 0.125rem rgba(0, 0, 0, 0.14);
    height: 56px;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .featured-second-scroll {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    background-color: #fefefe;
    position: relative;
    width: 100%;
  }

  .featured-second-scroll-div {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    height: 100%;
  }

  .featured-second-scroll-ul {
    display: flex;
    list-style: none;
  }

  .featured-second-scroll-ul li {
    white-space: nowrap;
    margin-top: 16px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-inline-end: 48px;
  }

  .featured-second-li-first {
    padding-inline-start: 4px;
  }

  .featured-second-scroll-ul li span {
    padding-bottom: 16px;
    color: #004275;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }

  .featured-second-scroll-line {
    width: 100%;
    height: 4px;
    opacity: 1;
    background-color: #004275;
    border-radius: 4px;
  }

  .get-start-azure-button {
    display: flex;
    margin-inline-start: 32px;
  }

  .get-start-azure-button button {
    white-space: nowrap;
    border: 2px solid transparent;
    padding: 4px 12px;
    padding-bottom: 6px;
    font-weight: 600;
    line-height: 22px;
    font-size: 15px;
    letter-spacing: -0.3px;
    background-color: #0078d4;
    color: #fff;
    border-radius: 8px;
  }

  .get-start-azure-button button span {
    padding-bottom: 0.125rem;
  }

  .discover-container {
    padding-block: 96px;
  }

  .discover-container-content {
    padding-inline-start: 56px;
  }

  .container-heading-section {
    flex-direction: column;
  }

  .discover-section {
    flex-direction: row;
    column-gap: 16px;
    margin-top: 3rem;
    padding-inline: 4px;
    padding-inline-start: 4px;
  }

  .heading-container-first-line {
    margin-bottom: 8px;
  }

  .banner-heading h2 {
    font-size: 40px;
    line-height: 48px;
  }

  .discover-section-content-card {
    flex: 1;
    border-radius: 24px;
  }

  .discover-content-image img {
    border-radius: 16px;
    object-fit: inherit;
    height: auto;
  }

  .discover-content-section {
    padding: 24px;
    height: 100%;
    justify-content: space-between;
  }

  .discover-content-section-first {
    gap: 16px;
  }

  .discover-content-section-paragraph p {
    padding-right: 13px;
  }

  .discover-content-section-button {
    margin-top: 48px;
  }

  .solutions-container {
    padding-block: 96px;
  }

  .solutions-container-contant {
    padding-inline: 56px;
  }

  .container-content-section {
    margin-top: 48px;
    margin-right: 0;
  }

  .scroll-button-first {
    padding: 9px 24px;
  }

  .scroll-button-second {
    padding: 9px 24px;
  }

  .solutions-container-content-section {
    margin-top: 3rem;
    gap: 3rem;
  }

  .solutions-featured-content {
    height: 100vh !important;
    max-height: 630px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }

  .solutions-featured-ul {
    flex-basis: calc(33% - 1rem / 2);
    overflow-y: auto;
    height: 100vh !important;
    max-height: 630px;
  }

  .solutions-li-first {
    display: flex;
  }

  .solutions-li-span {
    background-color: #004275;
    display: flex;
    width: 6px;
    border-radius: 4px;
  }

  .solutions-li-first-content {
    margin-left: 48px;
    border-bottom: 1px solid #bdc5d2;
  }

  .solutions-li-first-para {
    line-height: 24px;
    letter-spacing: -0.5px;
  }

  .solutions-li-heading-button {
    justify-content: flex-end;
    gap: 12px;
    padding-bottom: 32px;
  }

  .solutions-li-heading-button h3 {
    margin-bottom: 0;
  }

  .solutions-li-content-section {
    padding-bottom: 35px;
    gap: 32px;
  }

  .solutions-li-first-link {
    margin-bottom: 0;
  }

  .solutions-li-second {
    border-bottom: none;
  }

  .solutions-li-second-content {
    margin-left: 52px;
    border-bottom: 1px solid #bdc5d2;
  }

  .solutions-li-heading-button-second {
    text-align: left;
    padding-block: 32px;
    padding-block-end: 31px;
    gap: 10px;
  }

  .solutions-li-heading-button-second::before {
    margin-top: 21px;
    right: 4px;
  }

  .solutions-li-first-image-section {
    position: absolute;
    width: 59.3%;
    height: auto;
    max-height: 636px;
    aspect-ratio: unset;
    top: 0;
    right: 4px;
  }

  .solutions-li-first-image-section img {
    border-radius: 24px;
  }

  .solutions-video-play-button {
    position: absolute;
    padding: 16px;
  }

  .solutions-video-play-button button {
    border: 2px solid transparent;
    padding: 14px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.02px;
    background-color: #0078d4;
    color: #fff;
    border-radius: 8px;
  }

  .solutions-video-play-button button::before {
    content: "";
    font-size: 16px;
    font-family: Nnormal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    right: 1px;
  }

  .products-container {
    padding-block: 96px;
    padding-inline: 56px;
  }

  .container-content-section {
    gap: 3rem;
  }

  .products-container-contant {
    gap: 16px;
  }

  .products-featured-contant {
    aspect-ratio: 21 / 9;
  }

  .products-image-content {
    padding: 24px;
    grid-area: 1/1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }

  .products-contant-image {
    padding-inline: 8px;
  }

  .products-contant-image img {
    border-radius: 24px;
    object-position: center;
  }

  .products-empty-div {
    height: 0;
  }

  .products-image-content-section {
    justify-content: flex-end;
    gap: 16px;
  }

  .products-content-image {
    gap: 16px;
  }

  .products-content-image-button span {
    padding: 10px 18px 12px 18px;
  }

  .products-card-content {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 16px;
  }

  .products-card {
    width: auto;
    height: auto;
    padding: 24px;
    padding-bottom: 26px;
    border-radius: 24px;
  }

  .products-content-card {
    gap: 16px;
    margin-bottom: auto;
  }

  .products-content-card-section {
    gap: 16px;
  }

  .products-explore-product {
    margin-top: 48px;
  }

  .gartner-container {
    padding-block: 96px;
  }

  .gartner-container-content {
    padding-inline-start: 0;
    border-radius: 24px;
    margin-inline: 0;
    margin-inline-start: -8px;
  }

  .gartner-container-content-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 24px;
  }

  .gartner-container-image {
    padding-block: 8px;
    padding-inline: 0px 8px;
  }

  .gartner-container-image img {
    height: 100%;
    border-radius: 16px;
  }

  .gartner-contant-section {
    gap: 6rem;
    padding: 24px 56px 24px 16px;
  }

  .gartner-contant-section-first {
    gap: 16px;
    margin-top: -8px;
  }

  .gartner-content-button button {
    width: auto;
    padding: 12px 16px;
    padding-bottom: 14px;
  }

  .resources-content-first-content {
    padding-top: 4.5rem;
    padding-right: 12px;
  }

  .resources-content-first {
    padding-inline: 54px;
    margin-bottom: 52px;
    flex-direction: column;
  }

  .resources-content-first-line {
    margin-bottom: 8px;
  }

  .resources-content-heading h2 {
    max-width: 100%;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
  }

  .resources-content-second {
    margin-top: -28px;
  }

  .resources-container-scroll {
    padding-inline: 54px;
    padding-inline-start: 50px;
  }

  .resources-scroll-button:first-child {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  .resources-scroll-button button {
    padding: 16px 24px 24px;
  }

  .resources-container-scroll {
    padding-inline: 54px;
  }

  .resources-left-right-arrow {
    padding-bottom: 0;
    margin-top: 0;
    position: absolute;
    top: 20px;
    right: 142px;
  }

  .resources-left-arrow {
    display: none;
  }

  .resources-right-arrow {
    top: 0;
    right: 0;
  }

  .resources-second-content {
    padding-top: 29px;
    padding-bottom: 72px;
  }

  .resources-ith-content-first {
    gap: 16px;
    padding-inline-start: 60px;
    padding-inline-end: 68px;
  }

  .resources-it-image {
    padding: 24px;
    margin-top: 16px;
    margin-inline: auto;
    width: 61.367%;
    border-radius: 24px;
  }

  .global-container {
    padding-block: 96px;
  }

  .global-container-heading h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.3px;
    color: #fff;
  }

  .global-container-para {
    margin-top: 24px;
  }

  .global-container-button {
    margin-top: 32px;
    width: auto;
    padding-inline: 16px;
  }

  .customer-container {
    padding-block: 96px;
    padding-inline: 56px;
    padding-inline-start: 48px;
  }

  .customer-container-content-top {
    margin-top: 48px;
  }

  .customer-container-heading-section {
    margin-left: 0;
  }

  .customer-container-content-main {
    gap: 52px;
  }

  .customer-container-heading h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
  }

  .customer-heading-container-first-line {
    margin-bottom: 16px;
  }

  .customer-container-content {
    margin-top: 100px;
    padding-inline: 8px;
  }

  .customer-container-ul {
    grid-template-columns: repeat(6, 1fr);
  }

  .customer-container-brand {
    padding: 16px;
    padding-bottom: 12px;
    border-radius: 24px;
  }

  .customer-container-brand img {
    aspect-ratio: 4 / 3;
    width: 100%;
  }

  .ninth-container-button button {
    padding-inline: 16px;
  }

  .ninth-container-button button span {
    position: relative;
    bottom: 1px;
  }

  .next-step-section {
    padding-block: 96px 96px;
    padding-inline-start: 48px;
  }

  .next-step-heading {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 8px;

  }

  .next-step-content {
    flex-direction: row;
    column-gap: 16px;
    margin-top: 32px;
  }

  .next-step-card {
    flex: 1;
    justify-content: space-between;
    padding: 24px;
    border-radius: 24px;
  }

  .next-card-content {
    padding-inline-end: 32px;
    gap: 16px;
  }

  .next-card-heading h3 {
    font-size: 22px;
    line-height: 28px;
  }

  .next-card-button {
    margin-top: 48px;
  }

  .last-button-text {
    white-space: nowrap;
  }

  .social-media-content {
    flex-direction: row;
    padding-block-end: 0;
    align-items: center;
    padding-inline-start: 40px;
  }

  .social-media-container {
    padding-bottom: 22px;
  }

  .social-section-button {
    padding-inline: 16px 17px;
  }

  .social-section-button-text {
    top: 0;
  }

  .social-section-two {
    margin-left: 12px;
  }

  .social-ul {
    padding-bottom: 4px;
  }

  .social-ul-last-li {
    position: relative;
    left: 1px;
  }

  .footer-section-ul-div {
    display: flex;
    justify-content: flex-end;
  }

  .footer-section-ul {
    margin-left: 10px;
    margin-top: 6px;
  }

  .footer-section-ul li {
    padding: 0 24px 4px 0;
  }

}

@media screen and (min-width: 912px) {

  .first-banner {
    padding-block: 92px;
  }

  .banner-button-one {
    padding: 12px 16px 14px;
  }

  .banner-button-two {
    padding: 12px 16px 14px;
  }

  .discover-content-section-paragraph p {
    padding-right: 10px;
  }

  .banner-heading h2 {
    white-space: nowrap;
    letter-spacing: -1px;
  }

  .scroll-next-arrow {
    display: none;
  }

  .container-scroll-div {
    margin-inline-end: 49px;
  }

  .products-next-arrow {
    display: block;
  }

  .products-button-text {
    padding-bottom: 0.125rem;
  }

  .last-button-text-third {
    padding-bottom: 1px;
  }

  .resources-it-image {
    margin-top: 17px;
  }

  .next-card-content {
    padding-inline-end: 28px;
  }

  .next-button-text {
    padding-bottom: 0.125rem;
  }

  .social-section-button-text {
    top: 1px;
  }

  .social-ul {
    padding-bottom: 3px;
  }

}

@media screen and (min-width: 928px) {

  .banner-paragraph {
    padding-right: 50px;
  }

  .products-content-card-first h4 {
    letter-spacing: -0.1px;
  }

  .resources-it-image {
    margin-top: 18px;
  }

}

@media screen and (min-width: 930px) {

  .first-banner {
    padding-block: 104px;
  }

  .banner-paragraph {
    padding-right: 48px;
  }

  .social-section-button-text {
    top: 0;
  }

  .social-ul {
    padding-bottom: 4px;
  }

}

@media screen and (min-width: 960px) {

  .first-banner {
    padding-block: 132px;
  }

  .banner-paragraph {
    padding-right: 50px;
  }

  .discover-content-section-paragraph p {
    padding-right: 8px;
  }

  .solutions-li-first-para {
    padding-right: 4px;
  }

  .last-button-text-third {
    padding-bottom: 2px;
  }

  .next-card-content {
    padding-inline-end: 24px;
  }

  .next-button-text {
    padding-bottom: 0;
  }

  .social-section-button {
    padding-top: 15px;
  }

}

@media screen and (min-width: 1024px) {

  .banner-paragraph {
    padding-right: 48px;
  }

  .discover-content-section-paragraph p {
    padding-right: 7.6px;
  }

  .solutions-li-heading-button-second-change::before {
    margin-top: 0;
    right: 0;
  }

  .solutions-li-heading-button-second-change {
    padding-block-end: 32px;
  }

  .solutions-li-heading-button-second h3 {
    letter-spacing: 0.02px;
  }

  .solutions-li-heading-button-second-change-four::before {
    margin-top: 0;
  }

  .resources-it-image {
    margin-top: 21px;
  }

  .next-button-text {
    padding-bottom: 0.225rem;
  }

  .social-section-button {
    padding-bottom: 6px;
  }

  .social-section-button span img {
    bottom: 2px;
  }

}

@media screen and (min-width: 1084px) {

  .header-nav-ul {
    display: none;
  }

  .header-nav-ul-full {
    list-style: none;
    display: flex;
    align-items: center;
    height: 48px;
    position: relative;
    top: 2px;
  }

  .header-desktop-search-section {
    display: flex;
    position: absolute;
    right: 0;
  }

  .header-nav-ul-content {
    list-style: none;
    display: flex;
    align-items: center;
    height: 48px;
    position: relative;
    top: 2px;
  }

  .header-desktop-search-icon {
    position: relative;  
    padding: 9px;
    margin: 2px 2px 1px 1px;
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .header-search-icon {
    top: 11px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;    
    padding: 0;
    display: flex;
  }     

  .header-nav-li button {
    border: none;
    background-color: #0078d4;    
    border-color: #0078d4;
    color: #ffffff;
    border-radius: 3px;
    height: 31px;      
    margin: 1px 8px;
    line-height: 1.5;
    font-weight: 400;
    font-size: 13px;      
  }

  .header-nav-li button span {
    padding: 4px 8px 10px;
  }

  .header-nav-li-button button {
    background: transparent;
    border: 1px solid;
    border-radius: 3px;
    border-color: #000000;
    height: 31px;
    margin: 1px 8px;
    line-height: 1.5;
    font-weight: 400;
    font-size: 13px;
  }

  .header-nav-li-button button span {
    padding: 4px 8px 10px;
  }



}